

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.gronn {
  color: green;
}

.blaa {
  color: blue;
}

.rod {
  color: red;
}

ul {
  text-align: center;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(202, 238, 252, 0.878);
  }
  
  .topnav {
    background-color: rgb(200, 128, 60);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: rgb(8, 8, 8);
    color: rgb(252, 249, 249);
  }

  .topnav a.active {
    background-color: #a64f03fc;
    color: rgb(250, 248, 248);
  }

  
.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(108, 68, 8);
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #020202;
}


.dropdown:hover .dropdown-content {
  display: block;
}


  .split {
    float: right;
  }

  img {
  border: #020202 5px solid;
  
  }

  .one {
  text-align: center;
  }

  .two {
    text-align: center;
  }

  * {box-sizing:border-box}


.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}